# Mac OS X clutter
*.DS_Store

# Windows clutter
Thumbs.db

# Local configuration file
local.properties

# Android Studio
.idea
.gradle/
build/
*.iml


*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
